
<div class="main-container">
  <div nz-flex class="card" nzVertical nzAlign="center">
    <nz-table nzSize="small" #table [nzData]="characters()" [nzLoading]="loading()" class="ant-table" [nzPageSize]="10">
      <thead>
        <tr>
          <th >Name</th>
          <th>Role</th>
          <th>Age</th>
          <th class="ant-table-actions">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (character of table.data; track character.id) {
          <tr>
            <td>{{ character.name }}</td>
            <td>{{ character.role }}</td>
            <td>{{ character.age }}</td>
            <td>
              <button
              nz-button
              nzType="primary"
              [disabled]="false"
              (click)="edit.emit(character)"
            >
              Editar
            </button>
              <button
                nz-button
                nzDanger
                nzType="primary"
                [disabled]="false"
                [nzLoading]="deleteLoading()[character.id]"
                (click)="delete.emit(character.id)"
              >
                Borrar
              </button></td>
          </tr>
        }
      </tbody>
    </nz-table>
  </div>
</div>
