
.main-container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 10px;
}
.card{
  border: 1px solid #cccccc;
  border-radius: 8px;
  box-shadow:0 2px 10px 0 rgba(96, 96, 96, 0.19);
  width: 900px;
  padding: 20px;
}
.ant-table{
  width: 800px;
}
.ant-table-actions{
  width: 300px;
}
button{
  margin: 5px;
  border-radius: 4px;
}
.tfoot{
  background: #fafafa;
}
